.frontCover{
        // background-image: url(./img/Hulk_cover.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
        position: relative;
        color: white;
        font-size: 14px;
        
        .wrapper{
                display: flex;
                flex-direction: column;
                width: 33%;
                position: absolute;
                top: 150px;
                left: 50px;
                
        }
        .frontCover_title{
                font-weight: 700;
                font-size: 45px;
        }
        .frontCover_elem{
                padding: 7px 0;
        }
        .button_wrapper{
                display: flex;
                align-items: center;
                
         
                button{
                      display: flex;
                      align-items: center;
                      padding: 7px 14px;
                      margin-right: 15px;
                      border-style: none;
                      border-radius: 5px;
                      cursor: pointer;
                      &:hover{
                        background-color: grey;
                      }
  
                      &:last-child{
                        background-color: grey;
                        &:hover{
                        background-color: white;
                        }    
                        }
                      
                }
        }

}